@import "tailwindcss";

:root {
  --brand-red:   #EE3638;
  --brand-green: #22C55E;
  --brand-blue:  #3B82F6; 
}

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --card:       #ffffff;
  --card-foreground: #0a0a0a;
  --popover:    #ffffff;
  --popover-foreground: #0a0a0a;

  /* primary/secondary */
  --primary:            var(--brand-red);
  --primary-foreground: #ffffff;
  --secondary:            var(--brand-green);
  --secondary-foreground: #0a0a0a;

}
